 .w-5{
    width: 5%;
}
.h-95{
    height: 95%;
}

.cursor-zoom-in{
    cursor: zoom-in;
}

.list-item{
    cursor: pointer;
}

.div-height{
    height: 200px;
}

html{
    height: 100%;
}

body{
    min-height:100%;
    position:relative;
}

main{
    padding-bottom: 150px;
}

footer{
    position: absolute;
    bottom: 0;
}

footer img{
    height: 4em;
}