.w-5{
    width: 5%;
}

.w-90{
    width: 90%;
}

.list-item{
    cursor: pointer;
}

.div-height{
    height: 200px;
}

.t-none{
    text-decoration: none !important;
    color: black !important;
}

.estrela{
    height: 1rem;
}

html{
    height: 100%;
}

body{
    min-height:100%;
    position:relative;
}

main{
    padding-bottom: 150px;
}

footer{
    position: absolute;
    bottom: 0;
}

footer img{
    height: 4em;
}